<!DOCTYPE html>
<html>
	<head>
		<title>Quotes</title>
	</head>
	<body>
	<h1>Here are the awesome quotes!</h1>
	<% for(var quote in quotes) { %>
		<p>"<%= quotes[quote].quote %>"</p>
		<p>-<%= quotes[quote].name %> at <%= quotes[quote].createdAt %></p>
	<% } %>
	</body>
</html>