<!DOCTYPE html>
<html>
	<head>
		<title>Survey Form</title>
	</head>
	<body>
	<h1>Create User</h1>
	<form action='/result' method='post'>
		<p>Name: <input type="text" name="name" /></p>
		<p>Dojo Location: <select id="location" name="location">
			<option value="Seattle">Seattle</option>
			<option value="Washington DC">Washington DC</option>
			<option value="Los Angeles">Los Angeles</option>
			<option value="Dallas">Dallas</option>
			<option value="Chicago">Chicago</option>
		</select></p>
		<p>Favorite Language: <select id="language" name="language">
			<option value="HTML/CSS">HTML/CSS</option>
			<option value="Python">Python</option>
			<option value="Ruby">Ruby</option>
			<option value="MEAN">MEAN</option>
		</select></p>
		<p>Comments (optional): <textarea rows="4" column="50" name="comment"></textarea></p>
		<p><input type="submit" value="Submit" /></p>
	</form>
	</body>
</html>