<!DOCTYPE html>
<html ng-app='app'>
	<head>
		<title>Controlling Users</title>
		<script src='bower_components/angular/angular.js'></script>
		<script type="text/javascript">
			var app = angular.module('app', []);
			app.controller('userController', ['$scope', function($scope){
				$scope.users = [];
				$scope.addUser = function(){
					$scope.users.push($scope.newUser);
					$scope.newUser = {};
				}
				$scope.delUser = function(user){
					var x = $scope.users.indexOf(user);
					$scope.users.splice(x, 1);
				}
			}])
		</script>
	</head>
	<body>
		<h1>User Controller</h1>
		<div ng-controller='userController'>
			<h2>Add User</h2>
			<form ng-submit='addUser()'>
				<p>First Name: <input type="text" ng-model='newUser.first' /></p>
				<p>Last Name: <input type="text" ng-model="newUser.last" /></p>
				<p>Favorite Language: <input type="text" ng-model="newUser.favLang" /></p>
				<p><input type="submit" value="Submit">
			</form>
			<ul ng-repeat='user in users'>
				<li>Name: {{user.first}} {{user.last}}</li>
				<li>Favorite Language: {{user.favLang}}</li>
				<li><button ng-click='delUser(user)' type="button">Delete</button></li>
			</ul>
		</div>
	</body>
</html>