<!DOCTYPE html>
<html>
	<head>
		<title>Example</title>
	</head>
	<body>
		<h1>Example</h1>
		<form action='/users' method="post">
			Name: <input type="text" name="name" />
			Age: <input type="text" name="age" />
			<input type="submit" value="Submit">
		</form>
	</body>
</html>