<h1>Create User</h1>

<form ng-submit="UC.create(newUser)">
	<p>Name: <input type="text" ng-model="newUser.name" /></p>
	<p>Password: <input type="password" ng-model="newUser.password" /></p>
	<!-- <p>Password confirmation: <input type="password" ng-model="newUser.password_confirmation" /></p> -->
	<p><input type="submit" value="Create" /></p>
</form>

<p ng-repeat='error in UC.registration_errors'>{{error}}</p>

<h1>Log In</h1>

<form ng-submit="UC.login(UC.user)">
	<p>Name: <input type="text" ng-model="UC.user.name" /></p>
	<p>Password: <input type="password" ng-model="UC.user.password" /></p>
	<p><input type="submit" value="Login" /></p>
</form>

<p ng-repeat='error in UC.login_errors'>{{error}}</p>