<div ng-controller="QuestionController as QC">
  <div ng-controller="AnswerController as AC">

    <div ng-init="UC.check(); QC.show()">
      <a href="#" ng-click="UC.logout()">Logout</a>
    </div>
    <hr>

    <h1>{{ QC.question.question }}</h1>
    <h2>{{ QC.question.description }}</h2>
    <a href="#!/questions/{{QC.question._id}}" >Back to question</a>
    <br><br>

    <ul>
      <li ng-repeat='error in AC.errors'>{{error}}</li>
    </ul>
    <form ng-submit="AC.create(AC.newAnswer)">
      <label>Your Answer <input type="text" ng-model="AC.newAnswer.answer"></label><br><br>
      <label>Supporting details for your answer (optional) <input type="text" ng-model="AC.newAnswer.detail"></label>
      <p><input type="submit" value="Submit"></p>
    </form>
    <br>
    <a href="#!/question/{{QC.question._id}}">Cancel</a>

  </div>
</div>