<!DOCTYPE html>
<html ng-app='app'>
	<head>
		<title>Products and Orders</title>
		<script src='bower_components/angular/angular.js'></script>
		<script type="text/javascript">
			var app = angular.module('app', []);
			//factories
			app.factory('ProductFactory', function(){
				var factory = {};
				factory.products = [
					{product: 'mac', price: 2000, qty: 0}];
				factory.getProducts = function(callback){
					callback(this.products);
				};
				factory.addProducts = function(newProduct, callback){
					newProduct.qty = 50;
					factory.products.push(newProduct);
					callback();
				};
				
				factory.delProducts = function(product, callback){
					var x = this.products.indexOf(product);
					this.products.splice(x, 1);
					callback();
				};
				factory.buyProduct = function(product, callback){
					var x = this.products.indexOf(product);
					this.products[x].qty -= 1;
				}
				return factory;
			});
			//controllers
			app.controller('ProductController', function($scope, ProductFactory){
				$scope.getProducts = function(){
					ProductFactory.getProducts(function(products){
						$scope.products = products;
					});
				};
				$scope.addProducts = function(newProduct){
					ProductFactory.addProducts(newProduct, function(){
						$scope.getProducts();
						$scope.newProduct = {};
					});
				};
				$scope.delProducts = function(product){
					ProductFactory.delProducts(product, function(){
						$scope.getProducts();
					});
				};
			});

			app.controller('OrderController', function($scope, ProductFactory){
				$scope.getProducts = function(){
					ProductFactory.getProducts(function(products){
						$scope.products = products;
					});
				};
				$scope.buyProduct = function(product){
					$scope.error = "";
					if(product.qty <= 0){
						$scope.error = 'Item is out of stock!'
					} else {
						ProductFactory.buyProduct(product, $scope.getProducts)
					};
				};
			});

		</script>
	</head>
	<body>
	<h1>Product Controller</h1>
	<div ng-controller='ProductController'>
		<h2>Create Product</h2>
		<form ng-submit='addProducts(newProduct)'>
			<p>Name: <input type="text" ng-model="newProduct.product" /></p>
			<p>Price: <input type="text" ng-model="newProduct.price" /></p>
			<p><input type="submit" value="Create"></p>
		</form>
		<table>
			<tbody ng-init='getProducts()'>
				<tr ng-repeat='product in products'>
					<td>{{product.product}}:</td>
					<td>{{product.price | currency: '$'}}</td>
					<td><button ng-click='delProducts(product)'>Delete</button></td>
				</tr>
			</tbody>
		</table> 
	</div>
	<h1>Order Controller</h1>
	<div ng-controller='OrderController'>
		<p>{{error}}</p>
		<table ng-init='getProducts()'>
			<tr ng-repeat='product in products'>
				<td>{{product.product}}:</td>
				<td>{{product.price | currency: '$'}}</td>
				<td>{{product.qty}}</td>
				<td><button ng-click='buyProduct(product)'>Buy!</button></td>
			</tr>
		</table>
	</div>
	</body>
</html>